@import "tailwindcss";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

html {
  font-size: .8rem;
}

/* Glassmorphism utilities */
.glass {
  @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-xl;
}

.dark .glass {
  @apply bg-black/50 border-white/10;
}

/* Scrollbar hiding */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}